.overview-item {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  transition: 0.15s ease;
  position: relative;

  &:hover {
    --scale-dimension: 0.8rem;
    width: calc(100% + var(--scale-dimension));
    height: calc(100% + var(--scale-dimension));
    margin-left: calc(var(--scale-dimension) / 2 * -1);
    margin-top: calc(var(--scale-dimension) / 2 * -1);
  }

  img,
  video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: relative;
  }
}
