:root {
  --nav-height: 9rem;
}

body {
  background-color: $black;
  height: 100%;
  overflow: hidden;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Emlatin6", monospace;
}

h1,
h2,
h3,
h4,
h5,
p {
  color: $white;
}

.app_pagelayout {
  display: inline-block;
  width: 100%;
  padding-bottom: 4rem;
  height: 100vh;
  overflow-y: auto;

  &.fullscreen {
    nav {
      position: absolute;
    }

    .body {
      height: 100%;
    }
  }

  .body {
    height: calc(100% - var(--nav-height));
  }
}

body ::-webkit-scrollbar {
  display: none;
}
